---
import { boxers } from "../Consts/Boxers";
---

<div class="Boxers">
  <h4>LA PELEA COMIENZA AQUÍ</h4>
  <p>Conoce los detalles de cada boxeador</p>

  <div class="boxers">
    {
      boxers.map((boxer) => (
        <div class="boxer" key={boxer.id}>
         
          <div class="boxer_one sub_boxer">

            <img
              src={`/Boxers/vs-${boxer.box}/${boxer.luchador1.id}.avif`}
              alt={boxer.id}
               loading="lazy"
            />
             <h3>{boxer.luchador1.name}</h3>
          </div>
          <p>VS</p>
          <div class="boxer_two sub_boxer">
            <img
              src={`/Boxers/vs-${boxer.box}/${boxer.luchador2.id}.avif`}
              alt={boxer.id}
               loading="lazy"
            />
            <h3>{boxer.luchador2.name}</h3>
          </div>
        </div>
      ))
    }
  </div>
  <style>
    /* images Boxers */
     .boxer img {
   

  
  object-fit: cover; /* evita deformación */
padding: 0rem 1rem ;
      margin: 0rem auto ;
      border-radius: 10px;
      mask-image: linear-gradient(
        to bottom,
        transparent,
        black 0px,
        black 75%,
        transparent
      );
    }

    .boxer {
      
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
     background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 8rem,
         rgba(255, 255, 255, 0.129) 0rem,
        rgba(0, 0, 0, 0) 75%
      );
      padding: 0.8rem;
      
      
  max-width: 390px; /* mismo tamaño para todos */
    }

    .sub_boxer{


      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .boxer h3 {
      font-size: clamp(1.6rem, 2.3vw, 2.8rem);
      margin: 0rem 0;
      font-family: "Road_Reyes";
      font-weight: 200;
      width: min-content;
      text-align: center;
      line-height: 0.9;
      rotate: calc(-10deg);
      color: #ffffffce;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.671);
    }

    .Boxers {
      color: rgb(255, 255, 255);
      text-align: center;
      display: flex;
      flex-wrap: wrap;
    
    }

    
    .Boxers h4 {
      font-size: clamp(2rem, 3vw, 2.5rem);
      font-family: "Road_Reyes";
      font-weight: bold;
   

    }
    .Boxers p {
      font-size: clamp(1.2em, 2.3vw, 2rem);
      text-align: center;
      width: 90%;
      color: #ffffffac;
      padding: 0rem 1rem;
      
    }

    .boxer p {
      
      font-family: "Road_Reyes";
      font-weight: 100;
    color: #ffffffad;
    padding: 0rem;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.671);
    }

    .boxers {
      width: 100%;
   margin: 0rem auto;
      gap: 5rem;
      display: flex;
  justify-content: center;
     
    }


    @media screen and (max-width: 768px) {
      .Boxers img {
     max-width:120px;
    }
.boxer p {
  width: 90px;
      font-size: clamp(2.5rem, 4vw, 5rem);
    }

  .boxers {
     
      flex-direction: column;
    }
     
.boxer{
    width: 90%;
  display: flex;
  justify-content: center;
  margin: 0rem auto;
    min-height: 230px;
}

    }
  </style>
</div>
